# Entorno (development | production)
VITE_APP_ENV=development

# URL Base del API Backend
VITE_API_BASE_URL=http://localhost:3001/api

# URL del MapServer (o proxy local para desarrollo)
VITE_MAPSERVER_URL=http://localhost:3001/api/maps/proxy

# Habilitar logs de debug
VITE_DEBUG=true

# Habilitar datos mock
VITE_MOCK_DATA=true
