############################################
# SAPAL Obras - backend-mock (desarrollo)
############################################

# Puerto del servidor
PORT=3001

# Autenticación
# external: usa wsautenticador y devuelve token real para MapServer
AUTH_MODE=external

# IMPORTANTE:
# Si requieres token real para mapas, desactiva fallback a mock.
AUTH_FALLBACK_TO_MOCK=false

# URL del autenticador externo
AUTH_URL=https://dev.wsautenticador.sapal.gob.mx/api/autenticador/fObtenerToken/

# Certificados corporativos:
# Opción A (recomendada): configura NODE_EXTRA_CA_CERTS desde el script o aquí.
# NODE_EXTRA_CA_CERTS=C:\ruta\a\corporate-ca.pem

# Opción B (solo desarrollo): deshabilitar verificación TLS para Node
AUTH_ALLOW_INSECURE_TLS=true

# Mapas (si el MapServer también presenta TLS corporativo)
MAPS_ALLOW_INSECURE_TLS=true

# URL de MapServer (opcional)
MAPSERVER_URL=https://wsorquestador.sapal.gob.mx/api/exWSOrquestadorGeografico/FObtenerDatosMapServerData

# Entorno
NODE_ENV=development
